Html, body{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    font-size: small;
    font-weight: 400;
   
    font-family: 'liberation sans', sans-serif;
    margin:0;
    padding:0;
}
.nav-bar ul,footer ul{
    list-style-type: none;
    margin: 0 1em 0 1em;
    padding: 0;
}

.google-account-icon{
    
    width: 2.5em;
    height:2.5em;
}
.google-account-icon{
    display:flex;
    border-radius: 50%;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 1em;
    color:white;
    border-color: #ec407a;
    background-color:#ec407a;
}
.google-account-icon span{
    
    transform: scale(1.2, 1.25);
}
.google-apps-icon{
    align-items:center;
    display:grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-gap: 2px;

}
.google-apps-icon:hover .icon-section{
    
    background-color:black;
}

.icon-section{

    border-color: red;
    background-color: grey;
    width: 4px;
    height: 4px;
    
}
.icon{
    display:inline-flex;
    align-items: center;
    margin-right:1em;
    cursor: pointer;
}
.nav-bar ul{
    display:flex; 
    justify-content: space-between;
    

}
.nav-bar a:link{
    text-decoration:none;
    color: #5F6368;
}
.nav-bar a:visited{
    color: #5F6368;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.nav-bar a:active{
    color: #5F6368;
}
.left{
    display: inline-flex;
    align-items: center;
}
.right {

display: inline-flex;
align-items:center;
}
.left li, .right li{

margin:1em .5em 1em 1em;
align-items: center;
}
.main{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10em;
Height:100%;
}
.main img{
    margin-bottom: 2em;
}
.main input{
    border: 1px solid #dfe1e5;
    background-color: white;
    background-image: url(search_icon.svg.png);
 background-repeat: no-repeat;
 background-size: 15px;
 background-position: 15px 14px;
padding: 5px 5px 5px 50px;
    border-radius: 25px;
    width: 460px;
    height: 44px;
    line-height: 34px;
    margin-bottom: 1.5em;
}
.main input:hover{
   
    box-shadow: 2px 2px 10px #dfe1e5;
}
.main button[type=submit]{
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 14px;
    color:#5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    height: 36px;
    min-width: 54px;
}
.main button[type=submit]:hover{
    color: black;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;

}
.french p, a{
    display: inline-block;
    margin-top: 1.5em;
    letter-spacing: 0.025em;
}
footer{
    display:flex;
Flex-direction: column;
Height: auto;
   border-top: 2px solid #e4e4e4;
   background-color: #f2f2f2; 
   padding:0;
   color: #717171;

}

footer a:link{
    color: #717171;
    text-decoration: none;
}
footer a:visited{
    color: #717171;
}
footer a:hover{
    text-decoration: underline;
}
footer a:active{
    color: #717171;
}
.canada-footer p{
    align-self: center;
}
.canada-footer{
    
    height: 40px;
display: flex;
    margin-left:30px;
}
.footer{
   font-size: 15px;
   
}
.footer-list{
    border-top: 2px solid #e4e4e4;
height:auto;
min-height: 40px;

}
.footer-list ul{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style-type:none;
    padding:0;
    margin-left:0px;
    border: solid red;
    
}
.footer li{
    
    display: inline-block;
   align-self: center;
   
   border: solid green;
   margin-top:0;
   padding-top: 0;
   min-height:0;
    }
@media only screen and (max-width: 700px){
    .footer-list ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}